@import 'styles/variables';

.container {
    display: flex;
    flex-direction: row;
    .login {
        background: linear-gradient( #33383D, #1C1D20);
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        padding-left: 15%;
        //padding-right: 15%;
        padding-top: 10%;
        p{
            margin: 0;
            color: $secondary;
        }
        .greeting {
            font-size: 60px;
            margin-bottom: 17px;
        }
        .instructions {
            width: 300px;
            font-size: 16px;
            line-height: 20px;
            padding-bottom: 6rem;
        }
       
    }
    .banner {
        width: 50vw;
        background: url('../../assets/computer.png');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        .logo {
            padding-top: 35px;
        }
    }
}

@media only screen and (max-width: 1919px) {
    .container {
        .login{
            padding-left: 13%;
            //padding-right: 13%;
            padding-top: 9%;
        }
    }
}

@media only screen and (max-width: 1440px) {
    .container {
        .login{
            padding-left: 11.5%;
           // padding-right: 11.5%;
            padding-top: 7%;
        }
    }

 }

 @media only screen and (max-width: 1280px) {
    .container {
        .login{
            padding-left: 10%;
           // padding-right: 10%;
            padding-top: 5%;
        }
    }
 }

 @media only screen and (max-width: 1024px) {
    .container {
        .login{
            padding-left: 7%;
           // padding-right: 7%;
            padding-top: 5%;
        }
    }
 }