
.container {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-right: 41px;
    h3 {
        margin: 0;
        font-size: 14px;
        text-align: end;
    }
    .temp {
        display: flex;
        img {
            margin: 0;
            margin-top: 12px;
            margin-right: 12px;
            width: 34px;
            height: 34px;
        }
        h2 {
            margin: 0;
            font-size: 48px;
        }
    }
}