
.input {
    background-color: transparent;
    border-radius: 50px;
    width: 379px;
    height: 60px;
    border: 1px solid #ffffff;
    margin-bottom: 33px;
    color: #E0E0E0;
    font-size: 16px;
    padding: 20px;
}

.input:focus {
    outline: none;
}
