@import 'styles/variables';


.input {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    .inputEmail {
        background-color: transparent;
        border-radius: 50px;
        width: 380px;
        height: 60px;
        border: 1px solid #ffffff;
        margin-bottom: 33px;
        color: $secondary;
        font-size: 16px;
        padding: 20px;
    }
    
    .inputPass {
        background-color: transparent;
        border-radius: 50px;
        width: 380px;
        height: 60px;
        border: 1px solid #ffffff;
        margin-bottom: 33px;
        color: $secondary;
        font-size: 16px;
        padding: 20px;
    }

    .inputUserIcon {
        background-image: url('../../../assets/icon-user.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 340px;
    }
    
    .inputPassIcon {
        background-image: url('../../../assets/icon-password.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 340px;
    }
    
    input:focus {
        outline: none;
    }
    
    input::placeholder {
        color: #E0E0E0;
    }    

    .icon {
        display: flex;
    }

    .iconHidden {
        display: none;
    }

    #iconUser {
        margin-left: 20px;
        margin-top: 20px;
        height: 20px;
    }

    #iconPass {
        margin-left: 20px;
        margin-top: 15px;
        height: 25px;
    }


}

