@import 'styles/variables';

.container {
    display: flex;
    justify-content: space-between;
    color: $blackSecondary;
    img {
        margin-left: 40px;
        margin-top: 25px;
        width: 150px;
        height: 43px;
    }
    

}


@media only screen and (max-width: 425px) {
    .container {
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     img{
        width: 250px;
        height: 100px;
        margin-left: 0;
     }
    }
 }