
.container {
    h2 {
        margin: 0;
        padding-top: 20px;
        font-size: 144px;
        line-height: 130px;
    }

    p {
        margin: 0;
        font-size: 14px;
        text-align: center;
    }
}