@import 'styles/variables';

.form {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    h2 {
        margin-top: 0;
        margin-bottom: 32px;
        color: $secondary;
        font-size: 30px;
        font-weight: normal;
    }

    .validation {
        color: $primary;
        background-color: $lightBlack;
        border-radius: 20px;
        width: 380px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
        h3 {
            margin: 0;
            color: $lightPrimary;
            font-size: 16px;
            padding: 10px;
        }
        .validationCase {
            display: flex;
            span {
                font-size: 14px;
                padding: 10px;
            }
            .spanOk {
                color: $lightPrimary;
            }
            .okHidden {
                display: none;
            }
            .ok {
                display: inline;
            }
            .validationError {
                display: inline;
            }
            .validationErrorHidden {
                display: none;
            }
        }
    }

    .error {
        display: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 380px;
        padding-top: 20px;
        span {
            font-size: 16px;
            color: $primary;
        }
    }

    .errorShow {
        display: flex;
    }

    .button {
        border-radius: 50px;
        width: 380px;
        height: 67px;
        border: 2px solid #FF2D04;
        margin-top: 32px;
        background: linear-gradient(#FF2D04, #C13216);
        color: #ffffff;
        font-weight: bold;
        filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.5));
        cursor: pointer;
    }

    .loginCall {
        margin: 30px 50px;
        display: flex;
        .link {
            color: $primary;
        }
    }
    
}


@media only screen and (max-width: 768px) {
    .form {
        .button {
            width: 100%;
        }
        .error{
            width: 100%;
        }

        .validation {
            width: 100%;
        }

        .loginCall {
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 345px) {
    .form {
        .validation {
            .validationCase {
                span {
                    padding: 5px;
                }
            }
        }
    }
}

@media only screen and (max-width: 335px) {
    .form {
        .validation {
            .validationCase {
                span {
                    font-size: 12px;
                }
            }
        }
    }
}