
@font-face {
  font-family: "Mark Pro";
  src: url('./assets/fonts/Mark-Pro.ttf');
  font-weight: normal;
}

@font-face {
  font-family: "Mark Pro";
  src: url('./assets/fonts/Mark-Pro-Bold.ttf');
  font-weight: bold;
}


* {
  font-family: 'Mark Pro', sans-serif;
  box-sizing: border-box;
}

#root > main.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
